
{% block page_content %}

    <div class="row">
        <div class="col-sm-12">
            <div id="grid-{{ etat }}" class="grid-dt-wrapper">Chargement....</div>
        </div>
    </div>

{% endblock %}


{% block java %}
    <script src="{{ asset('assets/js/datatable.js') }}"></script>
    <script>
        $(function() {
            const etat = "{{ etat }}";
            $('#grid-' + etat).initDataTables({{ datatable_settings(datatable) }}, {
                searching: true,
                ajaxUrl: "{{ path('calendar_liste', {etat: etat}) }}",
                language: {
                    url:  asset_base_path + "/js/i18n/French.json"
                },
            });
        });
    </script>
{% endblock %}
