{% macro abonnement(abonnement) %}


    <div class="card card-custom" data-card="true" data-card-tooltips="false" id="kt_card_2">
        <div class="card-header bg-primary">
            <div class="card-title">
                <h3 class="card-label">Abonnement</h3>
            </div>
            <div class="card-toolbar supprimer">
                {#<a href="tools.html#" class="btn btn-abonnement btn-sm btn-primary mr-1" data-card-tool="toggle" data-toggle="tooltip" data-placement="top" title="" data-original-title="Toggle Card">
                    <i class="ki ki-arrow-down abonnement-nm"></i>
                </a>
                <a href="tools.html#" class="btn btn-abonnement btn-sm btn-success mr-1" data-card-tool="reload" data-toggle="tooltip" data-placement="top" title="" data-original-title="Reload Card">
                    <i class="ki ki-reload abonnement-nm"></i>
                </a>#}
                {# <a href="tools.html#" class="btn btn-abonnement btn-sm btn-warning supprimer" data-card-tool="remove" data-toggle="tooltip" data-placement="top" title="" data-original-title="Remove Card">
                    <i class="ki ki-close abonnement-nm"></i>
                </a>#}
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="form-group col-md-4 ">

                    {{ form_row(abonnement.libelle,{'attr':{'class':'form-control ','id':'userinput15','placeholder':'Libelle','require':'require'}}) }}
                </div>
                <div class="form-group col-md-4 ">

                    {{ form_row(abonnement.etat,{'attr':{'class':'form-control ','id':'userinput16','placeholder':'Etat','required':'required'}}) }}
                </div>
                <div class="form-group col-md-4 ">
                    {{ form_row(abonnement.dateRenouvellement,{'attr':{'class':'form-control motif','id':'userinput16','placeholder':'Date de renouvellement'}}) }}
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6 ">

                    {{ form_row(abonnement.dateDebut,{'attr':{'class':'form-control ','id':'userinput15','placeholder':'Datede debut','require':'require'}}) }}
                </div>
                <div class="form-group col-md-6 ">

                    {{ form_row(abonnement.dateFin,{'attr':{'class':'form-control ','id':'userinput16','placeholder':'Lien','required':'required'}}) }}
                </div>
                <div id="client">

                    {{ form_row(abonnement.client,{'attr':{'class':'form-control ','id':'userinput16','placeholder':'Client','required':'required'}}) }}
                </div>

            </div>
        </div>
    </div><br>
{% endmacro abonnement %}


