{% macro piece(piece) %}

    {#,'readOnly':'readOnly'#}
    {#{{ dump(piece.children.path.vars) }}#}
    <div class="row ligne">
        <div class="col-md-3 ">
            {{ form_row(piece.libelle,{'attr':{'class':'form-control libelle','id':'userinput16','placeholder':'Titre' }}) }}
        </div>
        <div class="col-md-2 ">
            {{ form_row(piece.client,{'attr':{'class':'form-select form-control motif','id':'userinput16','placeholder':'Client'}}) }}
        </div>
        <div class="col-md-2 ">
            {{ form_row(piece.dateTransmission,{'attr':{'class':'form-control motif','id':'userinput16','placeholder':'Date'}}) }}
        </div>
        <div class="col-md-3 ">
            {{ form_row(piece.path,{'attr':{'class':'form-control motif','id':'userinput16','placeholder':'Image'}}) }}
        </div>
        {% if piece.children.path.vars.data %}
        <div class="col-md-1 ">
            <a class="btn btn-dark" target="_blank" href="{{ asset('uploads/images/' ~ piece.children.path.vars.data) }}" download> <i class="fe fe-upload"></i>
                <i class="fe fe-folder"></i></a>
            {#<button type="button" class="btn btn-dark">Upload</button>#}
        </div>
        {% endif %}
        <div class="col-md-1  supprimer">

        </div>

    </div>

{% endmacro piece %}