{% macro pieceVendeur(pieceVendeur) %}


   {# {{ dump(piece.children.path.vars.data) }}#}
    <div class="row">
        <div class="col-md-3 ">
            {{ form_row(pieceVendeur.libelle,{'attr':{'class':'form-control motif','id':'userinput16','placeholder':'Titre','readOnly':'readOnly'}}) }}
        </div>
        <div class="col-md-2 ">
            {{ form_row(pieceVendeur.client,{'attr':{'class':'form-select form-control motif','id':'userinput16','placeholder':'Client'}}) }}
        </div>
        <div class="col-md-2 ">
            {{ form_row(pieceVendeur.date,{'attr':{'class':'form-control motif','id':'userinput16','placeholder':'Date'}}) }}
        </div>
        <div class="col-md-3 ">
            {{ form_row(pieceVendeur.path,{'attr':{'class':'form-control motif','id':'userinput16','placeholder':'Image'}}) }}
        </div>
        {% if pieceVendeur.children.path.vars.data %}
        <div class="col-md-1 ">
            <a class="btn btn-dark" target="_blank" href="{{ asset('uploads/images/' ~ pieceVendeur.children.path.vars.data) }}" download> <i class="fe fe-upload"></i>
                <i class="fe fe-folder"></i></a>
            {#<button type="button" class="btn btn-dark">Upload</button>#}
        </div>
        {% endif %}
        <div class="col-md-1  supprimer">

        </div>

    </div>

{% endmacro pieceVendeur %}