{% form_theme form _self %}
{% block page_content %}
    {#{% form_theme form 'widget/fields-block.html.twig' %}#}
    <div class="modal-header bg-secondary-gradient">
        <h2 class="modal-title" style="margin-top: -15px;color: white">EDITION-{{ titre | upper  }}
        </h2>
        <button class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <hr>
    {{ form_start(form, {'attr': {'role':'form', 'class': 'form'}}) }}
    <div class="modal-body ">
        {# {{ include('includes/ajax/response.html.twig') }} #}
        <div class="row">
            <div class="col-md-12">
                {{ include('_includes/ajax/response.html.twig') }}
            </div>
        </div>
        <div class="row">
            <div class="form-group col-12 mb-2">

                {{ form_widget(form)}}

            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>

    </div>
    {{ form_end(form) }}
{% endblock %}
{% block javascripts %}

    <script>
        $(function () {
            $('.no-auto').each(function () {
                const $this = $(this);
                const $id = $('#' + $this.attr('id'));
                init_date_picker($id,  'down', (start, e) => {
                    //$this.val(start.format('DD/MM/YYYY'));
                }, null, null, false);

                $id.on('apply.daterangepicker', function (ev, picker) {
                    $(this).val(picker.startDate.format('DD/MM/YYYY'));
                });
            });
        });
    </script>

{% endblock %}